.home-layout {
    height: 100vh;
    width: 100vw;
    padding: 80px 20px;

    .form-layout {
        width: 100%;
        height: 100%;
        max-width: 650px;
        overflow: auto;

        .list-layout {
            width: 100%;
            height: 100%;
            overflow: auto;

            .filter-layout {
                width: 100%;
                height: fit-content;
            }
        }
    }

    app-task-list {
        overflow: auto;
        height: 100%;
    }
}