@use "sass:color";

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;

    &:focus {
        outline: 0;
    }
}

.custom-checkbox {
    position: relative;
    width: 24px;
    height: 24px;

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border: 2px solid var(--light-gray);
        border-radius: 50%;
        transition: all 0.2s ease;

        &:hover {
            border-color: color.adjust(#bfbfc0, $lightness: -8%);
        }
    }

    label {
        width: 24px;
        height: 24px;
        background: none;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        pointer-events: none;
    }

    svg {
        position: absolute;
        top: 5px;
        left: 4px;
        z-index: 1;
        pointer-events: none;

        path {
            stroke: var(--white);
            stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 19;
            stroke-dashoffset: 19;
            transition: all 0.4s ease;
        }
    }

    input:checked+label {
        animation: splash 0.6s ease forwards;
    }

    input:checked+label+svg path {
        stroke-dashoffset: 0;
    }
}

@keyframes splash {
    0% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
        background: var(--primary-color);
        box-shadow: 0 -18px 0 -8px var(--primary-color),
            16px -8px 0 -8px var(--primary-color),
            16px 8px 0 -8px var(--primary-color),
            0 18px 0 -8px var(--primary-color),
            -16px 8px 0 -8px var(--primary-color),
            -16px -8px 0 -8px var(--primary-color);
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 -32px 0 -10px transparent,
            28px -16px 0 -10px transparent,
            28px 16px 0 -10px transparent,
            0 32px 0 -10px transparent,
            -28px 16px 0 -10px transparent,
            -28px -16px 0 -10px transparent;
    }
}