<div class="task-list-layout" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (task of taskService.sortedTasks(); track task.id) {
    <app-task-item cdkDrag [task]="task"></app-task-item>
    }
    @empty {
    <app-no-data
        [message]="taskService.filterType() !== 'all' || taskService.searchQuery() ? 'Aucun résultat' : 'Aucune tâche pour le moment'"
        [subtitle]="taskService.filterType() !== 'all' || taskService.searchQuery() ? 'Essayez de chercher autre chose' : 'Ajoutez une nouvelle tâche pour commencer'"></app-no-data>
    }
</div>